body {
    padding-top: 55px;
    padding-bottom: 60px;
    font-family: Calibri, "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 115px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 220px;
}
}

.action {
    cursor: pointer !important;
    cursor: hand !important;
}

label {
    color: #808080;
}

.app-header {
    background-color: #79bd43;
    border-color: #79bd43;
}

    .app-header a {
        color: white !important;
    }

     .app-header button {
        background-color: transparent;
        border: none;
        cursor: pointer; 
        font-weight: bold;
    }

    .app-header a.dropdown-txt {
        color: black !important;
    }

.app-brand {
    background-image: url('../images/magenic_weavetexture_50.png');
    background-repeat: repeat;
    padding:10px;
}

    .app-brand .app-manila {
        color: white;
        font-style: italic;
        font-size: 12pt;
        display: inline-block !important;
        vertical-align: middle;
        margin-bottom: -2px;
    }

.app-magenic-logo {
    height: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.app-menu{
    height:10px;
}
fieldset, legend {
    color: #79bd43 !important;
}

.inline-block {
    display: inline-block;
}

.search-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-filter {
    margin-top: 10px;
}

    .search-filter label {
        font-size: 12px;
        color: #3c3c3c;
    }

    .search-filter input[type="checkbox"] {
        margin-top: 2px;
    }

.button-set {
    padding-top: 20px;
}

.search-table {
    margin-top: 20px;
    font-size: 12px !important;
}

    .search-table th {
        text-align: center;
    }

    .search-table td {
    }

    .search-table a {
        color: darkgreen;
    }


.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#configuration .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    background-color: #79bd43;
    color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 2px #808080 solid;
    padding: 10px;
}

.configuration-body {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

    .configuration-body h4 {
        text-align: left;
        width: 100%;
    }

.override-notification-label {
    font-weight: normal;
    vertical-align: top;
}

.textarea-resize-none {
    resize: none;
}
/* Accordion Style override */
.tdt-accordion .panel-heading, .panel-default .panel-heading {
    background-color: #cecece;
}

.tdt-accordion a, .panel-heading a {
    text-decoration: none;
    display: block;
}

.modal-confirm {
    width: 400px;
}

.btn-primary {
    background-color: #50901c;
    border: 1px solid #50901c;
}


    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background-color: #79bd43;
        border: 1px solid #50901c;
    }

.pagination > * ::selection {
    background-color: #50901c;
}

.pagination > li > a,
.pagination > li > a:focus {
    color: darkgreen;
}

    .pagination > li > a:hover,
    .pagination > li > span:hover {
        z-index: 3;
        color: white;
        background-color: #50901c;
        border-color: #ddd;
    }

.pagination > .active a,
.pagination > .active a:hover {
    background-color: #50901c;
    border: 1px solid #50901c;
}

.user-info-container {
    min-width: 400px;
    max-width: 500px;
    background-color: #efefef;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #cecece;
}

    .user-info-container .employee-name {
        font-size: 18pt;
        font-weight: normal;
        color: #50901c;
    }

    .user-info-container h4 {
        color: darkgreen;
        border-bottom: 1px solid #cecece;
    }

.nav li a {
    padding: 10px;
}

.nav li.nav-icon a {
    top: 2px;
}

body {
    padding-right: 0px !important;
    margin-right: 0px !important;
}

    body.modal-open {
        overflow: auto;
    }

@media (max-width: 480px) {
    .current-user {
        display: none;
    }
}

.current-user {
    padding: 10px;
}

.navbar {
    min-height: 0px;
}

.form-container {
    clear: left;
    margin-bottom: 20px;
    padding: 25px;
    background-color: snow;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.form-header {
    padding: 14px;
    background-color: snow;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    font-size: 20px;
}

.left-inner-addon {
    position: relative;
}

    .left-inner-addon input {
        padding-left: 30px;
    }

    .left-inner-addon i {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
    }

#primarySkillList-table.table > thead, .table > tbody > tr {
    cursor: pointer;
}

    #primarySkillList-table.table > thead > tr > th > a {
        color: #000 !important;
    }

/*#primarySkillList-table > tbody > tr:hover {
    background-color: #79BD43;
}*/


#technology-table.table > thead, .table > tbody > tr {
    cursor: pointer;
}

    #technology-table.table > thead > tr > th > a {
        color: #000 !important;
    }

/*#technology-table > tbody > tr:hover {
    background-color: #79BD43;
}*/

.footer {
    background-color: white;
    border-top: 1px solid lightgray;
    height: 50px;
}

/*custom box shadow for panels*/
.panel {
    box-shadow: 0 5px 10px rgba(5,5,5,0.5);
}

.table-hover > tbody > tr:hover {
    background-color: #eafade;
}

.navbar-brand
{
    height:45px;
    padding:10px 15px;
}
