<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="app-brand">
        <div class="container">
            <img src="/images/W_MagenicLogo.png" /> <div class="app-manila">MANILA</div>
        </div>
    </div>
    <div class="app-header">
        <div class="container">
            <a ui-sref="home" class="navbar-brand"><span class="glyphicon glyphicon-user"></span> Manpower App</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="current-user">
                <div class="pull-right">
                    <a style="cursor:pointer; padding-right:20px; font-weight:bold;">Jhon Doe</a>
                    <a style="cursor:default">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
            <li><a>{{vm.currentUser}}</a></li>
            <li><a ng-show="!!vm.currentUser" ng-click="vm.logout($event)" style="cursor:default">Logout</a></li>
        </ul>
    </div>-->
</div>
