<style>
    #roles {
        font-family: verdana;
        font-size: 12px;
    }

    table, th, td {
        border: 1px solid lightgray;
        border-collapse: collapse;
        text-align: left;
        padding: 5px;
    }

    table {
        width: 500px;
    }

    .genericborder {
        border: 1px solid lightgray;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>


<div id="userAccessMain">
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <strong>Roles and Permission</strong>
    </div>
    <div my-access>

    </div>

</div>