<div class="modal fade" data-hook="updatePasswordModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{pu.updatePasswordModalLabel}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-container" name="newPwdForm" role="form" novalidate>
                    <div class="row form-group">
                        <div class="col-md-12" ng-class="{ 'has-error': newPwdForm.currentPassword.$dirty && newPwdForm.currentPassword.$error.required }">
                            <label for="firstName">Current Password:</label>
                            <input class="form-control" name="currentPassword" type="password" ng-model="pu.currentPassword" required />
                            <span ng-show="newPwdForm.currentPassword.$dirty && newPwdForm.currentPassword.$error.required" class="help-block">Password is required.</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12" ng-class="{ 'has-error': newPwdForm.newPassword.$dirty && newPwdForm.newPassword.$error.required }">
                            <label for="lastName">New Password:</label>
                            <input class="form-control" name="newPassword" type="password" ng-model="pu.newPassword" required />
                            <span ng-show="newPwdForm.newPassword.$dirty && newPwdForm.newPassword.$error.required" class="help-block">New Password is required.</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12" ng-class="{ 'has-error': newPwdForm.confirmNewPassword.$dirty && newPwdForm.confirmNewPassword.$error.required }">
                            <label for="roles">Confirm New Password:</label>
                                <input class="form-control" name="confirmNewPassword" type="password" ng-model="pu.confirmNewPassword" required />
                            <span ng-show="newPwdForm.confirmNewPassword.$dirty && newPwdForm.confirmNewPassword.$error.required" class="help-block">New Password Confirmation is required.</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row form-group">
                        <div class="col-md-12 pull-right">
                            <input type="submit" ng-disabled="newPwdForm.$invalid" ng-click="pu.updatePassword(newPwdForm)" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


