<app-modal>
  <div class="app-modal-header">
    Active Tagged Applicant(s)
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <table id="applicantList-table" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                  <th>Hire date:</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let applicant of applicants">
                <td><input type="radio" name="applicantSelect" (click)="choose(applicant)"></td>
                <td>{{applicant.firstname}} {{applicant.lastname}}</td>
                  <td>
                      <input class="form-control" type="date" name="hireDate" [(ngModel)]="applicant.hiredDate" required />
                  </td>
              </tr>
              <tr *ngIf="applicants && applicants.length == 0"><td colspan="3">No active tagged applicant yet.</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    <button *ngIf="applicants && applicants.length > 0" type="button" class="btn btn-primary" (click)="hire()">Hire</button>
  </div>
</app-modal>
