<div class="modal fade" data-hook="pmAddEditModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.cancel()"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{$ctrl.addEditModalLabel}}</h4>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <label for="projectName">Name:</label>
                    <input type="text" id="projectName" class="form-control" placeholder="Project Name" aria-describedby="basic-addon2" ng-model="$ctrl.project.name" style="width: 100%;" />
                    <span ng-show="$ctrl.project.name.$touched">Test Me</span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <label for="projectDescription">Description:</label>
                    <textarea type="text" id="projectDescription" class="form-control" placeholder="Project Description" aria-describedby="basic-addon2" ng-model="$ctrl.project.description" style="resize: none; height: 200px !important;"></textarea>
                    <span ng-show="$ctrl.project.description.$touched">Test Me</span>
                </div>
            </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">{{$ctrl.addEditModalSave}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
