<h3>
    Applicants
    <span class="pull-right">
        <button type="button" class="btn btn-xs btn-primary" (click)="openForm(applicant)"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-xs btn-default" (click)="getApplicants()"><span class="glyphicon glyphicon-refresh"></span></button>
        <!--<button type="button" class="btn btn-xs btn-primary" ng-click="vm.showModal('newPrimarySkill')"><span class="glyphicon glyphicon-plus"></span></button>
              <button type="button" class="btn btn-xs btn-default" ng-click="vm.refreshCount = vm.refreshCount + 1"><span class="glyphicon glyphicon-refresh"></span></button>-->
    </span>
</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <table id="applicantList-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <a href="#">
                                Name
                            </a>
                        </th>
                        <th>
                            <a href="#">
                                Email
                            </a>
                        </th>
                        <th>
                            <a href="#">
                                Contact Number
                            </a>
                        </th>
                        <th>
                            <a href="#">
                                Status
                            </a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let applicant of applicants; let i=index">
                        <td>{{applicant.firstName}} {{applicant.lastName}}</td>
                        <td>{{applicant.email}}</td>
                        <td>{{applicant.contactNumber}}</td>
                        <td>{{applicant.statusType}}</td>
                        <td>
                            <i class="glyphicon glyphicon-pencil" title="edit" style="cursor:pointer;" (click)="openForm(i)">
                            </i> &nbsp;
                            <a *ngIf="applicant.status != 15" class="btn-link" (mousedown)="choose(applicant)" (mouseup)="refList.showList()"><i class="glyphicon glyphicon-tags text-primary" title="Tagged References"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<applicant-references #refList (onHire)="hire($event)" [appId]="this.applicant.id"></applicant-references>
