<!--<nav class="navbar navbar-default sidebar" role="navigation">
  <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ng-repeat="item in vm.menuItems"><a a ui-sref="{{item.name}}"><span class="glyphicon glyphicon-pencil"></span> {{item.label}}</a></li>
    </ul>
  </div>
</nav>-->

<div class="container">
    <ul class="nav navbar-nav">
        <li ng-repeat="item in vm.menuItems"><a a ui-sref="{{item.name}}"><span class="glyphicon glyphicon-pencil"></span> {{item.label}}</a></li>
    </ul>
</div>