<style>
    .custom-modal-container {
            padding: 15px;
        }

        .custom-modal-header {
            background-color: #219161;
            color: #fff;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            margin-top: -15px;
            margin-bottom: 40px;
        }
</style>
<div class="container-fluid custom-modal-container">
    <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new applicant</h4>
    </div>
    <div class="modal-body">
        <form class="form-container" name="userForm" role="form" novalidate>
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="firstName">First Name:</label>
                    <input class="form-control" name="firstName" type="text" required />
                </div>
            </div>
        </form>
    </div>
</div>


